# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\FPT Polytechnic\SOF304.01_KieuMai\DuAn1_PRO1041_Nhom3-main\DuAn1_PRO1041\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
